#search-by {
  margin-bottom: 5px;
}

input[type="text"] {
  margin-bottom: 5px;
}

button {
  margin-top: 0;
  margin-bottom: 5px;
}

.account-no-radio-container {
  position: relative;
  left: -10px;
}

td {
    border-bottom: none;
}

th {
  border-top: none;
}

.first-cell {
  border-left: none;
}

table {
    height: fit-content;
}

#table-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: fit-content;
  height: fit-content !important;
  max-height: 65vh;
  overflow: auto;
  margin-bottom: 5px;
  border: solid 1px;
  padding: 0;
  /* z-index: -1; */
}
