.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input,
select :not(#edit-button) {
  margin: 5px;
  width: 150px;
}

input[type="radio"] {
  width: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  margin: 100px;
  border: 1px solid black;
  padding: 5px;
}
