.nav-button {
  background-color: rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-left: 10px;
}

#header-container {
  display: flex;
  width: 99.5%;
  padding: 5px;
  /* height: 80px; */
  background-color: #004050;
  justify-content: space-between;
  align-items: center;
}

#logged-in-container {
  width: 175px;
}

#logged-in-container > button {
  width: 75px;
}
#logged-in-container > h3 {
  margin: 0;
  text-align: center;
}

h3 {
  color: #00edb5;
  font-size: 25px;
}
