#popup-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#popup-content > input {
    margin: 2.5px;
    width: 150px;
}

#background-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}


#content-box {
  position: relative;
  top: 25vh;
  width: 50%;
  height: 50vh;
  max-height: 50vh;
  margin: 0 auto;
  margin-top: calc(100vh-85vh-20px);
  background-color: white;
  border-radius: 4px;
}

#cancel-icon {
  cursor: pointer;
  position: relative;
  top: 10px;
  right: calc(-100% + 35px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgb(255, 0, 0, 0.5);
  background-color: rgb(255, 0, 0, 0.1);
  font-size: 17.5px;
}
#cancel-icon:hover {
    background-color: rgb(255, 0, 0, 0.2);
  }
